*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Martian Mono', "Comic Sans MS", sans-serif;
}

#indexbody {
    background-image: url("https://i.ibb.co/nCDNZzY/bg-img.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#addindexbody {
    background-color: rgb(255, 255, 255);
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

#navbox {
    display: grid;
    grid-template-columns: 12vw auto 12vw;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.welcome {
    grid-column: 2;
    justify-self: center;
}

#welcometo {
    font-family: cursive, sans-serif;
    font-size: 2.5vw;

}

#Jcakes {
    font-family: 'Croissant One', "Comic Sans MS", sans-serif;
    font-size: 3vw;
    line-height: 0;
}

.navlink {
    grid-column: 3;
    justify-self: center;
    font-size: 2.5vw;
    color: rgb(243, 185, 215);
    margin: 1vw;
    font-family: 'Mooli', "Comic Sans MS", sans-serif;
}

.pudding-img {
    width: 50vw;
    height: auto;
    margin-bottom: 1vw;
}

.cakebox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding: 2vw;
    background-color: rgba(255, 255, 255, 0.9);
}

h3 {
    font-size: 2.5vw;
    margin-top: 0;
}

.cakestat {
    font-weight: bold;
}

.stat-p {
    font-size: 2vw;
    align-self: flex-start;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

#forms {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 3vw;
    background-image: url("https://i.ibb.co/gmkHCH9/formbgV.jpg");
    /*background-image: url("https://i.ibb.co/8MGbtG5/formbg2.jpg");*/
    background-size: cover;
    border: solid rgb(255, 196, 54);
    font-family: Arial, serif;
}

form {
    margin: 2vw;
}

label {
    display: block;
    margin-bottom: 0.5vw;
}

.inputs {
    margin-bottom: 1vw;
}

#comment {
    width: 64vw;
    height: auto;
}

@media only screen and (min-width: 700px) {
    #welcometo {
        font-size: 2vw;
    }

    #Jcakes {
        font-size: 2.5vw;
    }

    .navlink {
        font-size: 2vw;
    }

    #all-cakes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .cakebox {
        margin: 5vw;
        width: 40vw;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    .pudding-img {
        width: 30vw;
    }

    .stat-p {
        font-size: 1.5vw;
        align-self: flex-start;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #forms {
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }

    #comment {
        width: 46vw;
    }
}

@media only screen and (min-width: 1000px) {
    #all-cakes {
        display: flex;
        flex-wrap: wrap;
    }

    .cakebox {
        margin: 3vw;
        width: 27vw;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    .pudding-img {
        width: 23vw;
    }

    .stat-p {
        font-size: 1.5vw;
        align-self: flex-start;
        margin-left: 0vw;
        margin-right: 0vw;
    }
}